$background: #ffffff;
$primary-color: #10385b;
$secondary-color: #1fd4f6;
$main-paragraph: #666666;
$quote-icon: #eff1f4;
$tiles-paragraph: #a3a3a3;
$tiles-name: #000000;
$tiles-destination: #4d4d4d;
$footer-top: linear-gradient(to right, #22123d, #023068);
$footer-bottom: #150d2b;
$copyright-text: #a19eaa;
