.author{
    &__name{
        font-size: 1.1rem;
        font-weight: 600;
        color: $tiles-name;
    }
    &__destination{
        font-size: 0.9rem;
        color: $tiles-destination;
    }
}