.submit-button {
    padding: 10px 30px;
    font-size: 1.2rem;
    background-color: $primary-color;
    color: $background;
    border: none;
    cursor: pointer;
    position: relative;

    // margin: 100px;
}

@include mobile{
    .submit-button{
        padding: 8px 25px;
        font-size: 0.9rem;
    }
}