.next-step{
    width: 20%;
    &__heading{
        padding-bottom: $spacer-5;
        color: $primary-color;
        font-size: 2rem;
        font-weight: 600;
    }
    &__p{
        color: $main-paragraph;
        font-size: 1rem;
    }
}